ul {
    &.piscine-prep {
        //margin:j:
    }
    li {
        &.pp-item {
            font-size: $xs-p-size;
            color: $text-color;
            white-space: normal;
            width: inherit;
        }
    }
}
