.git-logo {
    height: calc(#{$img-c} - 17rem);
    margin: 1rem 0 3rem 0;
    display: inline-block;
    img {
        object-fit: contain;
        height: calc(#{$img-c} - 17rem);
        width: auto;
    }
}
