html {
  background-color: #1b262c;
  color: #d4d4dc;
  height: 100%;
  position: relative;
}

body {
  height: 100%;
  position: relative;
}

#root {
  background-color: #1b262c;
}

.App {
  background-color: #1b262c;
  color: #d4d4dc;
  width: 100%;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 5vh;
}

.navbar-dark .navbar-nav .nav-link {
  padding: 1vh 1vw 1vh 1vw;
  color: #feda6a;
  z-index: 10000;
}

.active {
  padding: 1.5vh 1.5vw 1.5vh 1.5vw;
  background-color: rgb(0, 102, 255, 0.9);
  border-radius: 5px;
  animation: lightup 0.4s linear;

  z-index: 10000;
}

@keyframes lightup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hover-on {
  color: white;
  opacity: 1;
}

.page {
  width: 70vw;
}

h1 {
  margin: 10vh 0 1em 0;
  color: #feda6a;
  font-size: 3vw;
}

h4 {
  margin: 1em 0 1em 0;
  color: #d65a31;
  font-weight: bold;
  font-size: 2vw;
}

h5 {
  margin: 8vh 0 1vh 0;
  color: #f6efa6;
  font-weight: bold;
  font-size: 1.25vw;
}

p {
  text-align: center;
  font-size: 1vw;
}

#footer {
  background-color: #343a40;
  position: absolute;
  bottom: 0;
  width: 100%;
  float: left;
  left: 0;
  right: 0;
  height: 5vh;
}

.footer-links {
  color: white;
  transition: 0.35s;
}

.footer-links:hover {
  transition: color 0.4s ease-in-out;
  transition-property: text-shadow;
  transition-property: color;
  transition-duration: 0.4s;
  text-shadow: #fc0 1px 0 5px;
  color: gold;
  transition-timing-function: ease-in-out;
}

.footer-1 {
  margin: 0.8vh 0 0 3vw;
  display: inline-block;
  float: left;
}

.footer-2 {
  display: inline-block;
  float: right;
  margin: 0.2vh 3vw 0 1vw;
  font-size: 1.5vw;
}

a,
u {
  text-decoration: none !important;
}

/*This is just a patchwork for MVP on mobile. I'll have to rework
this whole site later down the line. */

@media only screen and (max-width: 768px) {
  div,
  span {
    width: 100%;
    overflow-wrap: break-word;
  }
  .page {
    width: 100%;
    overflow-wrap: break-word;
  }
  img {
    max-width: 50vw;
    max-height: 30vh;
  }
  h1 {
    font-size: 40px;
    margin: 8vh 0 1em 0;
  }
  h4 {
    margin: 1em 0 1em 0;
    color: #d65a31;
    font-weight: bold;
    font-size: 35px;
  }
  h5 {
    margin: 8vh 0 1vh 0;
    color: #f6efa6;
    font-weight: bold;
    font-size: 28px;
  }

  li {
    font-size: 15px;
    width: 100%;
  }

  p {
    text-align: center;
    font-size: 12px;
  }
  p.card-category {
    font-size: 28px;
  }

  .card {
  }
  html {
    word-wrap: break-word;
  }
  img.img-only {
  }
  #footer {
    background-color: #343a40;
    position: absolute;
    bottom: 0;
    width: 100%;
    float: left;
    left: 0;
    right: 0;
    height: 6vh;
  }
  .footer-1 {
    margin: 0.8vh 0 0 3vw;
    display: inline-block;
    float: left;
  }

  .footer-2 {
    display: inline-block;
    float: right;
    margin: 0.2vh 3vw 0 1vw;
    font-size: 20px;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #feda6a;
    z-index: 10000;
    font-size: 7px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0vh;
    padding-bottom: 0.15vh;
  }

  .navbar {
    width: 100vw !important;
    height: 7vh !important;
  }
  .active {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .active {
    background-color: rgb(0, 102, 255, 0.9);
    animation: lightup 0.4s linear;
    z-index: 10000;
  }
}
