.card {
  transition: 0.5s;
}

.card:hover {
  z-index: 9001;
  transform: scale(1.25);
  border: 0.4vw solid black;
}

.card {
  background-color: #c9d6df;
  border-color: black;
  overflow-wrap: break-word;
  max-width: 15vw;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card-img {
  height: 20vh;
  object-fit: fill;
}

.card-body {
  background-color: #c9d6df;
  border-color: #c9d6df;
  padding: 0.125rem;
  height: 20vh;
}

.card-title {
  font-size: 1.25vw;
  font-weight: bold;
  color: #1e2022;
  max-width: 15vw;
}

.card-text {
  font-size: 1vw;
  overflow: auto;
  color: #1e2022;
  max-width: 15vw;
}

@media only screen and (max-width: 768px) {
  div.card {
    min-width: 250px;
    background-color: #c9d6df;
    border-color: black;
    overflow-wrap: break-word;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  .card-img {
    height: 25vh;
    min-width: 250px;
    object-fit: fill;
  }
  .card-body {
    background-color: #c9d6df;
    border-color: #c9d6df;
    padding: 0.125rem;
    height: 20vh;
  }
  .card-title {
    font-size: 5vw;
    font-weight: bold;
    color: #1e2022;
    min-width: 250px;
  }

  .card-text {
    font-size: 3.5vw;
    overflow: auto;
    color: #1e2022;
    max-width: 250px;
  }
}
