p.information-stuff {
  text-align: left !important;
}

.box {
  display: inline-block;
  margin-top: 10vh;
}

.box-subhead {
}

.box-text {
  margin-left: 3vw;
  margin-bottom: 5vh;
  text-align: center !important;
}

li {
  margin-left: 3vw;
  text-align: center !important;
  transition: 0.25s;
}

.anky-links:hover {
  transition: color 0.25s ease-in-out;
  color: red;
  transition-timing-function: ease-in-out;
}

.box-card {
}

#bottom {
  margin: 5vh 0 5vh 0;
  height: 3vh;
  width: 100vw;
}

p.img-subtext {
  text-align: center !important;
  font-size: 1vw;
  font-style: italic;
  margin: 1em 0 4em 0;
}

p.info {
  text-align: center !important;
  margin-bottom: 4vh;
}
.memberberries {
  font-weight: bold;
  color: red;
}
