ul.checklist {
  margin-top: 3vh;
}

li {
  text-align: left !important;
  list-style: none;
  font-size: 1vw;
}

p {
  text-align: center !important;
}

img.piscine {
  width: 49vw;
  height: 70vh;
  margin: 2em 0 2em 0;
}

img.terminal-ex {
  width: 45%;
  height: 45%;
}

.block {
  margin-top: 3em;
  margin-bottom: 3em;
  display: inline-block;
}

p.img-subtext {
  text-align: center !important;
  font-size: 1vw;
  font-style: italic;
  margin: 1em 0 4em 0;
}

p.card-category {
  color: #ed6363;
  font-weight: bold;
  font-size: 1.8vw;
  text-align: center !important;
  margin-top: 5vh;
}

p.remember {
  text-align: center;
  display: inline-block;
  margin-top: 4vh;
}

p.little-center {
  text-align: center !important;
}

p.information-stuff {
  text-align: left !important;
}

.card-deck {
  justify-content: center;
}

#bottom {
  margin: 5vh 0 5vh 0;
  height: 3vh;
  width: 100vw;
}
