span {
  display: inline-block;
}

span.summary {
  font-weight: bold;
}

span.boldest {
  font-weight: bold;
}

ul.checklist {
  margin-top: 3vh;
}

li {
  text-align: left !important;
  font-size: 1vw;
}

p.info-stuff {
  text-align: left !important;
}
