.side-p {
  font-size: 1.4vh;
  text-align: left !important;
}

.side-ul {
  top: 0%;
  right: 0%;
  height: 90vh;
  width: 17vw;
  position: fixed;
  margin-top: 8.4vh;
  margin-right: 1vw;
  text-align: left !important;
  overflow: hidden;
  font-weight: bold;
}

.current {
  color: red !important;
  text-align: left !important;
  font-weight: bold !important;
}

.link-color {
  color: white;
  transition: 0.5s;
}

.link-color:hover {
  transition: color 0.4s ease-in-out;
  transition-property: text-shadow;
  transition-property: color;
  transition-duration: 0.4s;
  text-shadow: #fc0 1px 0 5px;
  color: gold;
  transition-timing-function: ease-in-out;
}

.side-li {
  text-align: left !important;
}

@media only screen and (max-width: 768px) {
  div#side-nav {
    display: none;
  }
}
