.loader-container {
    display: flex;
    background-color: black;
    animation: fadeIn .6s linear;
}

.loader-container:active, .loader-container:focus {
    //animation: fadeOut .6s linear;
}

.loader {
    height: 100vh;
    width: 100vw;
    animation: zoomer 2.5s infinite alternate;
    opacity: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes zoomer {
    0% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1.0);
    }
}
