div #nav-container {
    .dropdown-item {
        color: $text-color;
        &:hover {
            color: $background-color;
            background-color: $hover-color;
        }
    }

    .nav-link {
        color: $text-color;
        &:hover {
            color: $hover-color;
        }
    }

    .dropdown-menu {
        background-color: $menu-color;
    }

    .navbar-brand {
        color: $text-color;
    }
}
