//  Global file for app.

@import "~bootstrap/scss/bootstrap";
@import "./page/home.scss";
@import "./page/about.scss";
@import "./page/updates.scss";
@import "./page/contact.scss";

@import "./components/scrollingsidebar.scss";
@import "./components/footer.scss";
@import "./components/card.scss";
@import "./components/loading.scss";
@import "./components/navigationbar.scss";

html {
}

body {
    //min-height: 100vh;
    min-height: 100vh;
    position: relative;
    background-color: #222831;
}

div {
    .page-container {
        position: relative;
        min-height: 100vh;
        //margin-bottom: 4rem;
    }
    .page-content {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: middle;
        justify-content: center;
        text-align: left;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 5vh;
    }

    h1 {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        margin: 2rem;
        color: #ececec;
    }

    p, li {
        font-size: 1.32rem;
        color: #ececec;
        white-space: normal;
        width: 75rem;
    }

    li {
    }


}

@media screen and (min-width: 1440px) {
    p {
        font-size: 5rem;
    }
}
