.img-container {
    height: calc(#{$img-c} - 17rem) !important;
    margin: $img-c-margin;
    display: inline-block;
    img {
        object-fit: fill;
        width: auto;
        height: calc(#{$img-c} - 17rem) !important;
    }
}

.back-btn {
    margin-top: 2rem;
}

.return-btn {
    box-shadow: $img-shadow;
}
