.blog-info-top-container {
    display: flex;
    flex-direction: column;
    span {
        &.blog-title {
        }

        &.blog-excerpt {
            text-align: center;
            p {
                font-style: italic;
            }
        }
    }
}

.blog-info-bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .author-pic {
        width: 3rem;
        img {
            object-fit: contain;
            border-radius: 50%;
            width: inherit;
            height: auto;
        }
    }

    .author-name {
        margin: .25rem;
    }

    .blog-date {
        margin: .25rem;
    }
}

.blog-block {
    div {
        display: flex;
        flex-direction: column;
        text-align: center;
        .blog-p {
            text-align: left;
        }
        .blog-p-quote {
            text-align: left;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 50px;
            padding-left: 15px;
            border-left: 3px solid #ccc;
        }
    }
}

.blog-img {
    //height: $img-c;
    margin: $img-c-margin;
    display: inline-block;
    img {
        object-fit: contain;
        //height: $img-c;
        height: auto;
        max-width: 95%;
    }
    .blog-img-subtext {
        font-style: italic;
        margin: 1rem 0 1rem 0;
    }
}

.blog-transcription {
    text-align: left !important;
    background-color: black;
    padding: 1rem;
    border-radius: 6px;
    margin: 3rem 0 3rem 0;
}

.blog-p {
    margin: 3rem 0 3rem 0;
}

.back-btn {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 500px) {
    .blog-info-bottom-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .author-pic {
            width: 30%;
            img {
                object-fit: contain;
                border-radius: 50%;
                width: 50%;
                height: auto;
            }
        }

        .author-name {
            margin: .25rem;
        }

        .blog-date {
            margin: .25rem;
        }
    }

}
