.git-logo {
    height: calc(#{$img-c} - 17rem);
    margin: $img-c-margin;
    display: inline-block;
    img {
        object-fit: contain;
        height: calc(#{$img-c} - 17rem);
        width: auto;
    }
}
