.home-updates {
    margin: 1rem;
    p {
        a {
            color: gold;
            font-size: 20px !important;
            font-weight: bold;
            text-align: left;
            text-decoration: underline;
        }
    }
}

.fat-card-container {
    display: flex;
    flex-direction: initial;
    padding: .5rem;
    margin: 1rem 0 1rem 0;
    .card-1 {
        margin: 1rem;
    }
    .card-2 {
        margin: 1rem;
    }
}

.marvin {
    margin-top: .5rem;
}

@media screen and (max-width: 1170px) {
    .fat-card-container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .marvin {
        margin-top: 1rem;
    }
}
